body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(198, 180, 245);
  }
  
  .App {
    text-align: center;
    padding: 50px;
  }
  
  .start-btn, .submit-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color:black;
    color: white;
    border: none;
    outline: none;
  }
  
  .exam-container {
    text-align: center;
  }
  
  .timer {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  